.choresText {
   color: rgb(136, 165, 136);
   font-family: Georgia;
   font-style: italic;
}

.choresHeading {
   color: rgb(136, 165, 136);
   text-decoration: underline;
   font-size: 3.0vw;
   text-align: left;
}